@font-face {
  font-family: mainFont;
  src: url("../../fonts/Roboto-Regular.woff"); }

@font-face {
  font-family: subFont;
  src: url("../../fonts/OtomanopeeOne-Regular.woff"); }

body {
  background-color: #fafafa;
  transition: all 1s ease;
  overflow-x: hidden;
  overflow-y: auto; }

body::-webkit-scrollbar {
  background-color: #fafafa;
  width: 5px; }

body::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 5px;
  border-radius: 10px; }

.copy-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.text-center {
  text-align: center; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Side Bar*/
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s; }
  .wrapper #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: #030303;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px #363636;
    position: fixed;
    height: 100%;
    z-index: 1000; }
    .wrapper #sidebar .sidebar-header {
      background: #e6e6e6;
      border-bottom: 1px solid #030303; }
    .wrapper #sidebar .components {
      padding: 0px 0 0 0; }
    .wrapper #sidebar .nav-menu-item .nav-menu-item-link {
      color: #030303;
      padding: 10px;
      font-size: 1.1em;
      display: flex;
      align-items: center; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:focus {
        color: white;
        background: #eb573b; }
        .wrapper #sidebar .nav-menu-item .nav-menu-item-link:hover svg g, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:focus svg g {
          fill: white; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link[data-toggle="collapse"] {
        position: relative; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:focus {
        text-decoration: none;
        transition: all 0.3s; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link svg {
        width: 30px;
        height: 30px;
        margin-right: 5px; }
        .wrapper #sidebar .nav-menu-item .nav-menu-item-link svg g {
          fill: #030303; }
    .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link {
      color: #030303;
      font-size: 0.9em !important;
      padding: 10px;
      display: block; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:focus {
        color: white;
        background: #ea4f32; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link, .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:focus {
        text-decoration: none;
        transition: all 0.3s; }
    .wrapper #sidebar .nav-menu-item .collapse {
      background-color: #f7f7f7; }
    .wrapper #sidebar .nav-menu-item .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 15%; }
    .wrapper #sidebar .active-link {
      background-color: #ea4f32; }
      .wrapper #sidebar .active-link .nav-menu-item-link {
        color: white; }
        .wrapper #sidebar .active-link .nav-menu-item-link svg g {
          fill: white; }
  .wrapper .active-sidebar {
    margin-left: -252px; }
  .wrapper #content {
    width: 100%;
    min-height: 1000vh;
    transition: all 0.3s; }
    .wrapper #content .nav-bar-wrapper {
      background-color: #f2f2f2;
      position: -webkit-sticky;
      position: sticky;
      top: -3.4rem;
      z-index: 100;
      display: flex;
      align-items: center;
      padding: 0 auto; }
      .wrapper #content .nav-bar-wrapper .horizontal-navbar {
        margin: 0rem auto 0 auto;
        background-color: #f2f2f2;
        padding: 15px;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .wrapper #content .nav-bar-wrapper .horizontal-navbar .nav-bar-image {
          margin: 0 10% 1rem 10%;
          height: 2.4rem; }
          .wrapper #content .nav-bar-wrapper .horizontal-navbar .nav-bar-image img {
            height: 100%; }
        .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn {
            width: 30px;
            height: 24px;
            padding: 0;
            position: relative;
            border: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar {
              background-color: #ea4f32;
              width: 100%;
              height: 4px;
              position: relative; }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar::before {
                transition: all 0.4s ease-in-out;
                content: "";
                height: 4px;
                top: 0;
                left: 0;
                width: 0%;
                position: absolute;
                background-color: #767676; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-top {
              transform: translateY(-4px); }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-top::before {
                transition-delay: 0s; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-middle::before {
              transition-delay: 0.2s; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-bottom {
              transform: translateY(4px); }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-bottom::before {
                transition-delay: 0.4s; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:hover .bar::before,
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:hover .bar:focus, .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:focus .bar::before,
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:focus .bar:focus {
              width: 100%; }
          .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus {
            margin-right: 3%;
            display: flex; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item svg {
              width: 30px;
              height: 30px; }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item svg g {
                fill: #ea4f32; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item:hover svg g, .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item:focus svg g {
              fill: #e83b1b; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item:not(:last-child) {
              margin-right: 20px; }
    .wrapper #content .carousel-image {
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media (max-width: 1650px) {
  .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn {
    position: absolute;
    left: 270px; }
  .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus {
    opacity: 0; } }

@media (max-width: 768px) {
  .wrapper #sidebar {
    margin-left: 0px; }
  .wrapper .active-sidebar {
    margin-left: -252px !important; }
  .wrapper .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn {
    position: absolute;
    left: 270px; }
  .wrapper .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus {
    opacity: 0; } }

header {
  width: 100%; }
