@font-face {
  font-family: mainFont;
  src: url("../../fonts/Roboto-Regular.woff"); }

@font-face {
  font-family: subFont;
  src: url("../../fonts/OtomanopeeOne-Regular.woff"); }

@font-face {
  font-family: headingFont;
  src: url("../../fonts/cream-DEMO.ttf"); }

body {
  background-color: #f8f1f1;
  transition: all 1s ease;
  overflow-x: hidden;
  overflow-y: auto; }

body::-webkit-scrollbar {
  background-color: #f8f1f1;
  width: 5px; }

body::-webkit-scrollbar-thumb {
  background-color: #ee6f57;
  border-radius: 5px;
  border-radius: 10px; }

.copy-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.text-center {
  text-align: center; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#content {
  scroll-behavior: smooth; }
  #content #carouselExampleControls .carousel-indicators li {
    background-color: #f8f1f1; }
  #content #carouselExampleControls .carousel-indicators .active {
    background-color: #ee6f57; }
  #content #carouselExampleControls .carousel-inner .carousel-item .carousel-image {
    max-width: 100%; }
  #content #carouselExampleControls .carousel-control .carousel-control-svg {
    background-image: none; }
    #content #carouselExampleControls .carousel-control .carousel-control-svg svg g {
      fill: #f8f1f1; }
    #content #carouselExampleControls .carousel-control .carousel-control-svg:hover svg g, #content #carouselExampleControls .carousel-control .carousel-control-svg:focus svg g {
      fill: #ee6f57; }

/* Side Bar*/
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s; }
  .wrapper #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fbf8f8;
    color: #1b1a17;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px #1b1a17;
    position: fixed;
    height: 100%;
    z-index: 1000;
    overflow-y: auto; }
    .wrapper #sidebar::-webkit-scrollbar {
      background-color: #ee6f57;
      width: 5px; }
    .wrapper #sidebar::-webkit-scrollbar-thumb {
      background-color: #f8f1f1;
      border-radius: 5px;
      border-radius: 10px; }
    .wrapper #sidebar .components {
      padding: 0px 0 0 0; }
    .wrapper #sidebar .nav-menu-item .nav-menu-item-link {
      font-weight: 600;
      color: #1b1a17;
      padding: 10px;
      font-size: 1.1em;
      display: flex;
      align-items: center; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:focus {
        color: #ee6f57;
        background: #f6eeee; }
        .wrapper #sidebar .nav-menu-item .nav-menu-item-link:hover svg g, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:focus svg g {
          fill: #ee6f57; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link[data-toggle="collapse"] {
        position: relative; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-link:focus {
        text-decoration: none;
        transition: all 0.3s; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-link svg {
        width: 25px;
        height: 25px;
        margin-right: 5px; }
        .wrapper #sidebar .nav-menu-item .nav-menu-item-link svg g {
          fill: #1b1a17; }
    .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link {
      color: #1b1a17;
      font-size: 0.9em !important;
      font-weight: 400;
      padding: 10px;
      display: block; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:focus {
        color: #ee6f57;
        background: #f6eeee; }
      .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link, .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:hover, .wrapper #sidebar .nav-menu-item .nav-menu-item-sub-link:focus {
        text-decoration: none;
        transition: all 0.3s; }
    .wrapper #sidebar .nav-menu-item .collapse {
      background-color: #f6eeee; }
    .wrapper #sidebar .nav-menu-item .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 15%; }
    .wrapper #sidebar .active-link {
      background-color: #f6eeee; }
      .wrapper #sidebar .active-link .nav-menu-item-link {
        color: #ee6f57; }
        .wrapper #sidebar .active-link .nav-menu-item-link svg g {
          fill: #ee6f57; }
  .wrapper .active-sidebar {
    margin-left: -252px; }
  .wrapper #content {
    width: 100%;
    transition: all 0.3s; }
    .wrapper #content .nav-bar-wrapper {
      background-color: #fbf8f8;
      position: -webkit-sticky;
      position: sticky;
      top: -3.4rem;
      z-index: 100;
      display: flex;
      align-items: center;
      padding: 0 auto;
      box-shadow: 0px 0px 10px #1b1a17; }
      .wrapper #content .nav-bar-wrapper .horizontal-navbar {
        margin: 0rem auto 0 auto;
        background-color: #fbf8f8;
        padding: 15px;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .wrapper #content .nav-bar-wrapper .horizontal-navbar .nav-bar-image {
          margin: 0 10% 1rem 10%;
          height: 2.4rem; }
          .wrapper #content .nav-bar-wrapper .horizontal-navbar .nav-bar-image img {
            height: 100%; }
        .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn {
            width: 30px;
            height: 24px;
            padding: 0;
            position: relative;
            border: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar {
              background-color: #1b1a17;
              width: 100%;
              height: 4px;
              position: relative; }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar::before {
                transition: all 0.4s ease-in-out;
                content: "";
                height: 4px;
                top: 0;
                left: 0;
                width: 0%;
                position: absolute;
                background-color: #ee6f57; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-top {
              transform: translateY(-4px); }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-top::before {
                transition-delay: 0s; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-middle::before {
              transition-delay: 0.2s; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-bottom {
              transform: translateY(4px); }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn .bar-bottom::before {
                transition-delay: 0.4s; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:hover .bar::before,
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:hover .bar:focus, .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:focus .bar::before,
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn:focus .bar:focus {
              width: 100%; }
          .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus {
            margin-right: 3%;
            display: flex; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item svg {
              width: 30px;
              height: 30px; }
              .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item svg g {
                fill: #1b1a17; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item:hover svg g, .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item:focus svg g {
              fill: #ee6f57; }
            .wrapper #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus .menu-item:not(:last-child) {
              margin-right: 20px; }

@media (max-width: 1650px) {
  .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn {
    position: absolute;
    left: 270px; }
  .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus {
    opacity: 0; } }

@media (max-width: 767.98px) {
  .wrapper #sidebar {
    margin-left: 0px; }
  .wrapper .active-sidebar {
    margin-left: -252px !important; }
  .wrapper .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .btn {
    position: absolute;
    left: 270px; }
  .wrapper .icon-hide + #content .nav-bar-wrapper .horizontal-navbar .navbar-bottom .menus {
    opacity: 0; } }

#content .fashino-section {
  width: 100%;
  padding: 2% 10%;
  background-color: #fbf8f8; }
  #content .fashino-section .section-text {
    margin-bottom: 2%; }
    #content .fashino-section .section-text p {
      font-family: headingFont;
      text-transform: uppercase;
      text-decoration: underline;
      color: #ee6f57;
      font-size: 1.5rem;
      text-align: center; }
  @media (max-width: 991.98px) {
    #content .fashino-section .section-text {
      margin-bottom: 4%; } }
  @media (max-width: 575.98px) {
    #content .fashino-section {
      padding: 3% 10%; }
      #content .fashino-section .section-text {
        margin-bottom: 6%; } }
  #content .fashino-section .item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #content .fashino-section .item-container .coloum {
      margin-right: 2%;
      margin-bottom: 1%;
      padding: 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
      flex: 0 0 23.5%;
      max-width: 23.5%; }
      #content .fashino-section .item-container .coloum:nth-child(4n) {
        margin-right: 0; }
      #content .fashino-section .item-container .coloum:nth-last-line(1) {
        margin-bottom: 0; }
    #content .fashino-section .item-container .coloum {
      border-radius: 5px;
      text-align: center; }
      #content .fashino-section .item-container .coloum .show-image-container {
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        margin-bottom: 4%; }
        #content .fashino-section .item-container .coloum .show-image-container .show-image {
          width: 100%;
          object-fit: cover;
          transition: all 0.2s ease-in-out; }
        #content .fashino-section .item-container .coloum .show-image-container:hover, #content .fashino-section .item-container .coloum .show-image-container:focus {
          box-shadow: 0px 0px 3px #1b1a17; }
          #content .fashino-section .item-container .coloum .show-image-container:hover .show-image, #content .fashino-section .item-container .coloum .show-image-container:focus .show-image {
            transform: scale(1.1); }
      #content .fashino-section .item-container .coloum .show-image-text {
        cursor: pointer;
        font-family: subFont;
        font-size: 1.2rem;
        color: #ee6f57;
        text-transform: capitalize;
        text-decoration: none;
        transition: all 0.2s ease-in-out; }
        #content .fashino-section .item-container .coloum .show-image-text:hover, #content .fashino-section .item-container .coloum .show-image-text:focus {
          color: #e23717; }
  @media (max-width: 991.98px) {
    #content .fashino-section .item-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #content .fashino-section .item-container .coloum {
        margin-right: 2%;
        margin-bottom: 3%;
        padding: 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%; }
        #content .fashino-section .item-container .coloum:nth-child(2n) {
          margin-right: 0; }
        #content .fashino-section .item-container .coloum:nth-last-line(1) {
          margin-bottom: 0; } }
  @media (max-width: 575.98px) {
    #content .fashino-section .item-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #content .fashino-section .item-container .coloum {
        margin-right: 0%;
        margin-bottom: 7%;
        padding: 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
        #content .fashino-section .item-container .coloum:nth-child(1n) {
          margin-right: 0; }
        #content .fashino-section .item-container .coloum:nth-last-line(1) {
          margin-bottom: 0; }
      #content .fashino-section .item-container .coloum .show-image-text {
        margin-top: 2%; } }

#content .new-arrival-section {
  width: 100%;
  padding: 2% 10%;
  background-color: white; }
  #content .new-arrival-section .section-text {
    margin-bottom: 2%; }
    #content .new-arrival-section .section-text p {
      font-family: headingFont;
      text-transform: uppercase;
      text-decoration: underline;
      color: #ee6f57;
      font-size: 1.5rem;
      text-align: center; }
  @media (max-width: 991.98px) {
    #content .new-arrival-section .section-text {
      margin-bottom: 4%; } }
  @media (max-width: 575.98px) {
    #content .new-arrival-section {
      padding: 3% 10%; }
      #content .new-arrival-section .section-text {
        margin-bottom: 6%; } }
  #content .new-arrival-section .new-arrival-slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 2%; }
    @media (max-width: 1399.98px) {
      #content .new-arrival-section .new-arrival-slider {
        margin-bottom: 4%; } }
    @media (max-width: 767.98px) {
      #content .new-arrival-section .new-arrival-slider {
        margin-bottom: 6%; } }
    @media (max-width: 575.98px) {
      #content .new-arrival-section .new-arrival-slider {
        margin-bottom: 8%; } }
    #content .new-arrival-section .new-arrival-slider .slide-element-wrapper {
      position: relative;
      overflow-x: hidden;
      height: 100%; }
      #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease; }
        #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element {
          cursor: pointer;
          position: relative;
          margin-right: 1%;
          margin-bottom: 0%;
          padding: 0;
          overflow: hidden;
          height: 100%;
          max-width: 24.25%;
          min-width: 24.25%;
          width: 24.25%; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:last-child {
            margin-right: 0; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-image img {
            width: 100%;
            height: 100%; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before, #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ee6f57;
            opacity: 0.8;
            z-index: 1;
            transition: all 0.2s ease-in; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before {
            transform: translateY(-102%); }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
            transform: translateY(102%); }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover {
            color: tint(#ee6f57, 75%); }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:before {
              transform: translateY(0%); }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:after {
              transform: translateY(0%); }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover .slide-text-container {
              opacity: 1; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 1.1rem;
            font-family: headingFont;
            opacity: 0;
            transition: all 0.2s ease-in;
            transition-delay: 0.2s; }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .prize {
              font-weight: 600;
              font-size: 1.2rem;
              margin-bottom: 3%; }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .name {
              text-transform: capitalize;
              font-weight: 400; }
    #content .new-arrival-section .new-arrival-slider .slider-control {
      display: flex;
      align-items: center;
      pointer-events: none;
      cursor: none;
      opacity: 0; }
      #content .new-arrival-section .new-arrival-slider .slider-control svg {
        width: 45px;
        height: 45px; }
        #content .new-arrival-section .new-arrival-slider .slider-control svg g {
          fill: #ee6f57; }
        #content .new-arrival-section .new-arrival-slider .slider-control svg:hover g {
          fill: #f39785; }
    #content .new-arrival-section .new-arrival-slider .slider-control-active {
      pointer-events: auto;
      cursor: pointer;
      opacity: 1; }
    @media (max-width: 1399.98px) {
      #content .new-arrival-section .new-arrival-slider {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-bottom: 2%; } }
  @media (max-width: 1399.98px) and (max-width: 1399.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 4%; } }
  @media (max-width: 1399.98px) and (max-width: 767.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 6%; } }
  @media (max-width: 1399.98px) and (max-width: 575.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 8%; } }
    @media (max-width: 1399.98px) {
        #content .new-arrival-section .new-arrival-slider .slide-element-wrapper {
          position: relative;
          overflow-x: hidden;
          height: 100%; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease; }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element {
              cursor: pointer;
              position: relative;
              margin-right: 1%;
              margin-bottom: 0%;
              padding: 0;
              overflow: hidden;
              height: 100%;
              max-width: 24.25%;
              min-width: 24.25%;
              width: 24.25%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:last-child {
                margin-right: 0; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-image img {
                width: 100%;
                height: 100%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before, #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #ee6f57;
                opacity: 0.8;
                z-index: 1;
                transition: all 0.2s ease-in; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before {
                transform: translateY(-102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                transform: translateY(102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover {
                color: tint(#ee6f57, 75%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:before {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:after {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover .slide-text-container {
                  opacity: 1; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.1rem;
                font-family: headingFont;
                opacity: 0;
                transition: all 0.2s ease-in;
                transition-delay: 0.2s; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .prize {
                  font-weight: 600;
                  font-size: 1.2rem;
                  margin-bottom: 3%; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .name {
                  text-transform: capitalize;
                  font-weight: 400; }
        #content .new-arrival-section .new-arrival-slider .slider-control {
          display: flex;
          align-items: center;
          pointer-events: none;
          cursor: none;
          opacity: 0; }
          #content .new-arrival-section .new-arrival-slider .slider-control svg {
            width: 35px;
            height: 35px; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg g {
              fill: #ee6f57; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg:hover g {
              fill: #f39785; }
        #content .new-arrival-section .new-arrival-slider .slider-control-active {
          pointer-events: auto;
          cursor: pointer;
          opacity: 1; } }
    @media (max-width: 991.98px) {
      #content .new-arrival-section .new-arrival-slider {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-bottom: 2%; } }
  @media (max-width: 991.98px) and (max-width: 1399.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 4%; } }
  @media (max-width: 991.98px) and (max-width: 767.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 6%; } }
  @media (max-width: 991.98px) and (max-width: 575.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 8%; } }
    @media (max-width: 991.98px) {
        #content .new-arrival-section .new-arrival-slider .slide-element-wrapper {
          position: relative;
          overflow-x: hidden;
          height: 100%; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease; }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element {
              cursor: pointer;
              position: relative;
              margin-right: 1%;
              margin-bottom: 0%;
              padding: 0;
              overflow: hidden;
              height: 100%;
              max-width: 32.66667%;
              min-width: 32.66667%;
              width: 32.66667%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:last-child {
                margin-right: 0; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-image img {
                width: 100%;
                height: 100%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before, #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #ee6f57;
                opacity: 0.8;
                z-index: 1;
                transition: all 0.2s ease-in; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before {
                transform: translateY(-102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                transform: translateY(102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover {
                color: tint(#ee6f57, 75%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:before {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:after {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover .slide-text-container {
                  opacity: 1; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.1rem;
                font-family: headingFont;
                opacity: 0;
                transition: all 0.2s ease-in;
                transition-delay: 0.2s; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .prize {
                  font-weight: 600;
                  font-size: 1.2rem;
                  margin-bottom: 3%; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .name {
                  text-transform: capitalize;
                  font-weight: 400; }
        #content .new-arrival-section .new-arrival-slider .slider-control {
          display: flex;
          align-items: center;
          pointer-events: none;
          cursor: none;
          opacity: 0; }
          #content .new-arrival-section .new-arrival-slider .slider-control svg {
            width: 35px;
            height: 35px; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg g {
              fill: #ee6f57; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg:hover g {
              fill: #f39785; }
        #content .new-arrival-section .new-arrival-slider .slider-control-active {
          pointer-events: auto;
          cursor: pointer;
          opacity: 1; } }
    @media (max-width: 767.98px) {
      #content .new-arrival-section .new-arrival-slider {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-bottom: 2%; } }
  @media (max-width: 767.98px) and (max-width: 1399.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 4%; } }
  @media (max-width: 767.98px) and (max-width: 767.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 6%; } }
  @media (max-width: 767.98px) and (max-width: 575.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 8%; } }
    @media (max-width: 767.98px) {
        #content .new-arrival-section .new-arrival-slider .slide-element-wrapper {
          position: relative;
          overflow-x: hidden;
          height: 100%; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease; }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element {
              cursor: pointer;
              position: relative;
              margin-right: 1%;
              margin-bottom: 0%;
              padding: 0;
              overflow: hidden;
              height: 100%;
              max-width: 49.5%;
              min-width: 49.5%;
              width: 49.5%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:last-child {
                margin-right: 0; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-image img {
                width: 100%;
                height: 100%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before, #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #ee6f57;
                opacity: 0.8;
                z-index: 1;
                transition: all 0.2s ease-in; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before {
                transform: translateY(-102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                transform: translateY(102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover {
                color: tint(#ee6f57, 75%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:before {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:after {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover .slide-text-container {
                  opacity: 1; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.1rem;
                font-family: headingFont;
                opacity: 0;
                transition: all 0.2s ease-in;
                transition-delay: 0.2s; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .prize {
                  font-weight: 600;
                  font-size: 1.2rem;
                  margin-bottom: 3%; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .name {
                  text-transform: capitalize;
                  font-weight: 400; }
        #content .new-arrival-section .new-arrival-slider .slider-control {
          display: flex;
          align-items: center;
          pointer-events: none;
          cursor: none;
          opacity: 0; }
          #content .new-arrival-section .new-arrival-slider .slider-control svg {
            width: 35px;
            height: 35px; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg g {
              fill: #ee6f57; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg:hover g {
              fill: #f39785; }
        #content .new-arrival-section .new-arrival-slider .slider-control-active {
          pointer-events: auto;
          cursor: pointer;
          opacity: 1; } }
    @media (max-width: 575.98px) {
      #content .new-arrival-section .new-arrival-slider {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-bottom: 2%; } }
  @media (max-width: 575.98px) and (max-width: 1399.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 4%; } }
  @media (max-width: 575.98px) and (max-width: 767.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 6%; } }
  @media (max-width: 575.98px) and (max-width: 575.98px) {
    #content .new-arrival-section .new-arrival-slider {
      margin-bottom: 8%; } }
    @media (max-width: 575.98px) {
        #content .new-arrival-section .new-arrival-slider .slide-element-wrapper {
          position: relative;
          overflow-x: hidden;
          height: 100%; }
          #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease; }
            #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element {
              cursor: pointer;
              position: relative;
              margin-right: 1%;
              margin-bottom: 0%;
              padding: 0;
              overflow: hidden;
              height: 100%;
              max-width: 100%;
              min-width: 100%;
              width: 100%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:last-child {
                margin-right: 0; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-image img {
                width: 100%;
                height: 100%; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before, #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #ee6f57;
                opacity: 0.8;
                z-index: 1;
                transition: all 0.2s ease-in; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:before {
                transform: translateY(-102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:after {
                transform: translateY(102%); }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover {
                color: tint(#ee6f57, 75%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:before {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover:after {
                  transform: translateY(0%); }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element:hover .slide-text-container {
                  opacity: 1; }
              #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.1rem;
                font-family: headingFont;
                opacity: 0;
                transition: all 0.2s ease-in;
                transition-delay: 0.2s; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .prize {
                  font-weight: 600;
                  font-size: 1.2rem;
                  margin-bottom: 3%; }
                #content .new-arrival-section .new-arrival-slider .slide-element-wrapper .slide-container .slide-element .slide-text-container .name {
                  text-transform: capitalize;
                  font-weight: 400; }
        #content .new-arrival-section .new-arrival-slider .slider-control {
          display: flex;
          align-items: center;
          pointer-events: none;
          cursor: none;
          opacity: 0; }
          #content .new-arrival-section .new-arrival-slider .slider-control svg {
            width: 35px;
            height: 35px; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg g {
              fill: #ee6f57; }
            #content .new-arrival-section .new-arrival-slider .slider-control svg:hover g {
              fill: #f39785; }
        #content .new-arrival-section .new-arrival-slider .slider-control-active {
          pointer-events: auto;
          cursor: pointer;
          opacity: 1; } }
