#content {
  //fashino section start
  .fashino-section {
    @include section(lighten($secondary, 2), $primary);
    //item container start
    .item-container {
      @include grid(4, 2%, 1%, 0px);
      .coloum {
        border-radius: 5px;
        text-align: center;
        .show-image-container {
          width: 100%;
          max-height: 100%;
          overflow: hidden;
          transition: all 0.2s ease-in-out;
          margin-bottom: 4%;
          .show-image {
            width: 100%;
            object-fit: cover;
            transition: all 0.2s ease-in-out;
          }
          &:hover,
          &:focus {
            .show-image {
              transform: scale(1.1);
            }
            box-shadow: 0px 0px 3px $font;
          }
        }
        .show-image-text {
          cursor: pointer;
          font-family: subFont;
          font-size: 1.2rem;
          color: $primary;
          text-transform: capitalize;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          &:hover,
          &:focus {
            color: darken($primary, 15);
          }
        }
      }
    }
    @media (max-width: $tabletScreen) {
      .item-container {
        @include grid(2, 2%, 3%, 0px);
      }
    }
    @media (max-width: $mobileScreen) {
      .item-container {
        @include grid(1, 0%, 7%, 0px);
        .coloum {
          .show-image-text {
            margin-top: 2%;
          }
        }
      }
    }
    //item container end
  }
  //fashino section end

  //new-arrival-section start
  .new-arrival-section {
    @include section(lighten($secondary, 10), $primary);
    .new-arrival-slider {
      @include slider(
        //count
        4,
        //margin-right
        1%,
        //margin-bottom
        0%,
        //padding
        0,
        //control-icon-size
        45px,
        //control-icon-color
        $primary,
        //details-background-color
        $primary,
        //details-text-color
        lighten($secondary, 10),
        //details-background-color-opacity
        0.8
      );
      @media (max-width: $mediumScreen) {
        @include slider(
          4,
          1%,
          0%,
          0,
          35px,
          $primary,
          $primary,
          lighten($secondary, 10),
          0.8
        );
      }
      @media (max-width: $tabletScreen) {
        @include slider(
          3,
          1%,
          0%,
          0,
          35px,
          $primary,
          $primary,
          lighten($secondary, 10),
          0.8
        );
      }
      @media (max-width: $mobileLandScapeScreen) {
        @include slider(
          2,
          1%,
          0%,
          0,
          35px,
          $primary,
          $primary,
          lighten($secondary, 10),
          0.8
        );
      }
      @media (max-width: $mobileScreen) {
        @include slider(
          1,
          1%,
          0%,
          0,
          35px,
          $primary,
          $primary,
          lighten($secondary, 10),
          0.8
        );
      }
    }
  }
  //new arrival-section end
}
