/* Side Bar*/
//wrapper
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
  //colors-navbar
  $bg: lighten($secondary, 2);
  $color: $font;
  $hoverColor: $primary;
  $hoverBg: lighten($secondary, 2);
  //side-bar-start
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $bg;
    color: $color;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px $font;
    position: fixed;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: $primary;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary;
      border-radius: 5px;
      border-radius: 10px;
    }
    // .sidebar-header {
    //   background: darken($bg, 10);
    //   border-bottom: 1px solid darken($color, 0);
    // }
    .components {
      padding: 0px 0 0 0;
    }
    .nav-menu-item {
      .nav-menu-item-link {
        font-weight: 600;
        color: $color;
        padding: 10px;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          color: $hoverColor;
          background: darken($hoverBg, 3);
          svg {
            g {
              fill: $hoverColor;
            }
          }
        }
        &[data-toggle="collapse"] {
          position: relative;
        }
        &,
        &:hover,
        &:focus {
          text-decoration: none;
          transition: all 0.3s;
        }
        svg {
          width: 25px;
          height: 25px;
          margin-right: 5px;
          g {
            fill: $color;
          }
        }
      }
      .nav-menu-item-sub-link {
        color: $color;
        font-size: 0.9em !important;
        font-weight: 400;
        padding: 10px;
        display: block;
        &:hover,
        &:focus {
          color: $hoverColor;
          background: darken($hoverBg, 3);
        }
        &,
        &:hover,
        &:focus {
          text-decoration: none;
          transition: all 0.3s;
        }
      }
      .collapse {
        background-color: darken($bg, 3);
      }
      .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 15%;
      }
    }
    .active-link {
      background-color: darken($hoverBg, 3);
      .nav-menu-item-link {
        color: $hoverColor;
        svg {
          g {
            fill: $hoverColor;
          }
        }
      }
    }
  }
  //side-bar-end

  .active-sidebar {
    margin-left: -252px;
  }
  //content-start
  #content {
    width: 100%;
    transition: all 0.3s;
    //nav-bar-start
    .nav-bar-wrapper {
      background-color: lighten($secondary, 2);
      position: -webkit-sticky;
      position: sticky;
      top: -3.4rem;
      z-index: 100;
      display: flex;
      align-items: center;
      padding: 0 auto;
      box-shadow: 0px 0px 10px $color;
      .horizontal-navbar {
        margin: 0rem auto 0 auto;
        background-color: lighten($secondary, 2);
        padding: 15px;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        .nav-bar-image {
          margin: 0 10% 1rem 10%;
          height: 2.4rem;
          img {
            height: 100%;
          }
        }
        .navbar-bottom {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .btn {
            width: 30px;
            height: 24px;
            padding: 0;
            position: relative;
            border: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .bar {
              background-color: $color;
              width: 100%;
              height: 4px;
              position: relative;
              &::before {
                transition: all 0.4s ease-in-out;
                content: "";
                height: 4px;
                top: 0;
                left: 0;
                width: 0%;
                position: absolute;
                background-color: $hoverColor;
              }
            }
            .bar-top {
              transform: translateY(-4px);
              &::before {
                transition-delay: 0s;
              }
            }
            .bar-middle {
              &::before {
                transition-delay: 0.2s;
              }
            }
            .bar-bottom {
              transform: translateY(4px);
              &::before {
                transition-delay: 0.4s;
              }
            }
            &:hover,
            &:focus {
              .bar::before,
              .bar:focus {
                width: 100%;
              }
            }
          }
          .menus {
            margin-right: 3%;
            display: flex;
            .menu-item {
              svg {
                width: 30px;
                height: 30px;
                g {
                  fill: $color;
                }
              }
              &:hover,
              &:focus {
                svg {
                  g {
                    fill: $hoverColor;
                  }
                }
              }
              &:not(:last-child) {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    //nav-bar-end
  }
  //content-end
  //to disable image while the side bar is open
  // .icon-hide + #content {
  //   .nav-bar-wrapper {
  //     .horizontal-navbar {
  //       .nav-bar-image {
  //         opacity: 0;
  //       }
  //     }
  //   }
  // }
}
//1650px
@media (max-width: 1650px) {
  //to position the navbar icon when the side bar is open
  .icon-hide + #content {
    .nav-bar-wrapper {
      .horizontal-navbar {
        .navbar-bottom {
          .btn {
            position: absolute;
            left: 270px;
          }
          .menus {
            opacity: 0;
          }
        }
      }
    }
  }
}
@media (max-width: $mobileLandScapeScreen) {
  .wrapper {
    #sidebar {
      margin-left: 0px;
    }
    .active-sidebar {
      margin-left: -252px !important;
    }
    //to disable the icon when the side bar is open
    .icon-hide + #content {
      .nav-bar-wrapper {
        .horizontal-navbar {
          .navbar-bottom {
            .btn {
              position: absolute;
              left: 270px;
            }
            .menus {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
