/* Side Bar*/

.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
  $bg: lighten($primary, 2);
  $hoverBg: darken($secondary, 3);
  $color: darken($font, 20);
  $hoverColor: lighten($primary, 50);
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $bg;
    color: $color;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px $font;
    position: fixed;
    height: 100%;
    z-index: 1000;
    .sidebar-header {
      background: darken($bg, 10);
      border-bottom: 1px solid darken($color, 0);
    }
    .components {
      padding: 0px 0 0 0;
    }
    .nav-menu-item {
      .nav-menu-item-link {
        color: $color;
        padding: 10px;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          color: $hoverColor;
          background: darken($hoverBg, 3);
          svg {
            g {
              fill: $hoverColor;
            }
          }
        }
        &[data-toggle="collapse"] {
          position: relative;
        }
        &,
        &:hover,
        &:focus {
          text-decoration: none;
          transition: all 0.3s;
        }
        svg {
          width: 30px;
          height: 30px;
          margin-right: 5px;
          g {
            fill: $color;
          }
        }
      }
      .nav-menu-item-sub-link {
        color: $color;
        font-size: 0.9em !important;
        padding: 10px;
        display: block;
        &:hover,
        &:focus {
          color: $hoverColor;
          background: darken($hoverBg, 5);
        }
        &,
        &:hover,
        &:focus {
          text-decoration: none;
          transition: all 0.3s;
        }
      }
      .collapse {
        background-color: darken($bg, 3);
      }
      .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 15%;
      }
    }
    .active-link {
      background-color: darken($hoverBg, 5);
      .nav-menu-item-link {
        color: $hoverColor;
        svg {
          g {
            fill: $hoverColor;
          }
        }
      }
    }
  }
  .active-sidebar {
    margin-left: -252px;
  }
  #content {
    width: 100%;
    min-height: 1000vh;
    transition: all 0.3s;
    .nav-bar-wrapper {
      background-color: darken($bg, 5);
      position: -webkit-sticky;
      position: sticky;
      top: -3.4rem;
      z-index: 100;
      display: flex;
      align-items: center;
      padding: 0 auto;
      .horizontal-navbar {
        margin: 0rem auto 0 auto;
        background-color: darken($bg, 5);
        padding: 15px;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        .nav-bar-image {
          margin: 0 10% 1rem 10%;
          height: 2.4rem;
          img {
            height: 100%;
          }
        }
        .navbar-bottom {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .btn {
            width: 30px;
            height: 24px;
            padding: 0;
            position: relative;
            border: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .bar {
              background-color: darken($hoverBg, 5);
              width: 100%;
              height: 4px;
              position: relative;
              &::before {
                transition: all 0.4s ease-in-out;
                content: "";
                height: 4px;
                top: 0;
                left: 0;
                width: 0%;
                position: absolute;
                background-color: lighten($font, 25);
              }
            }
            .bar-top {
              transform: translateY(-4px);
              &::before {
                transition-delay: 0s;
              }
            }
            .bar-middle {
              &::before {
                transition-delay: 0.2s;
              }
            }
            .bar-bottom {
              transform: translateY(4px);
              &::before {
                transition-delay: 0.4s;
              }
            }
            &:hover,
            &:focus {
              .bar::before,
              .bar:focus {
                width: 100%;
              }
            }
          }
          .menus {
            margin-right: 3%;
            display: flex;
            .menu-item {
              svg {
                width: 30px;
                height: 30px;
                g {
                  fill: darken($hoverBg, 5);
                }
              }
              &:hover,
              &:focus {
                svg {
                  g {
                    fill: darken($hoverBg, 10);
                  }
                }
              }
              &:not(:last-child) {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    .carousel-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 1650px) {
  .icon-hide + #content {
    .nav-bar-wrapper {
      .horizontal-navbar {
        .navbar-bottom {
          .btn {
            position: absolute;
            left: 270px;
          }
          .menus {
            opacity: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    #sidebar {
      margin-left: 0px;
    }
    .active-sidebar {
      margin-left: -252px !important;
    }
    .icon-hide + #content {
      .nav-bar-wrapper {
        .horizontal-navbar {
          .navbar-bottom {
            .btn {
              position: absolute;
              left: 270px;
            }
            .menus {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
